1. Write a Python Program to Find the Factorial of a Number?
2. Write a Python Program to Display the multiplication Table?
3. Write a Python Program to Print the Fibonacci sequence?
4. Write a Python Program to Check Armstrong Number?
5. Write a Python Program to Find Armstrong Number in an Interval?
6. Write a Python Program to Find the Sum of Natural Numbers?

1)

In [5]:
def fact(no):
    assert isinstance(no, int) and no>0
    if no==1:
        return 1
    return no*fact(no-1)

In [12]:
fact(3)

6

2)

In [23]:
import numpy as np

In [24]:
def Mul_tbl(no):
    assert isinstance(no, int) and no>0
    mul = np.array(range(1,11))
    return mul*no

In [25]:
print(Mul_tbl(6))

[ 6 12 18 24 30 36 42 48 54 60]

3)

In [36]:
def fibb_seq(no):
    assert isinstance(no, int) and no>0
    a, b =1 ,1 
    seq= [a]
    for i in range(no):
        a, b = a + b ,a
        seq.append(a)
    return seq

In [37]:
print(fibb_seq(10))

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

4)

In [39]:
def chk_armstrong(no):
    assert isinstance(no, int) and no>0
    no_s=str(no)
    sum = 0
    for i in range(len(no_s)):
        sum += int(no_s[i])**len(no_s)
    if sum == no:
        print("Armstrong no")
    else:
        print(" Not Armstrong no")

In [42]:
chk_armstrong(407)

Armstrong no

In [43]:
chk_armstrong(406)

 Not Armstrong no

5)

In [44]:
def chk_armstrong(no):
    assert isinstance(no, int) and no>0
    no_s=str(no)
    sum = 0
    for i in range(len(no_s)):
        sum += int(no_s[i])**len(no_s)
    if sum == no:
        return no

In [47]:
def chk_armstrong_interval(start, end):
    assert isinstance(start, int) and start>0
    assert isinstance(end, int) and end>0
    assert start < end
    
    am_no = []
    for i in range(start,end+1):
        if chk_armstrong(i) == i:
            am_no.append(i)
    return am_no

In [52]:
print(chk_armstrong_interval(1,100000))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

6)

In [53]:
def sum_nat(final_no):
    assert isinstance(final_no, int) and final_no>0
    return final_no*(final_no+1)/2

In [57]:
def sum_nat_loop(final_no):
    assert isinstance(final_no, int) and final_no>0
    sum = 0
    for i in range(final_no+1):
        sum +=i
    return sum

In [58]:
print(sum_nat_loop(10))

55

In [59]:
print(sum_nat(10))

55.0